<div id="day-view">
  {{#slick-slider slickInit="slickInit" beforeChange="beforeSlideChange" afterChange="afterSlideChange" edge="reachedEdge" autoplay=false arrows=false dots=false mobileFirst=true adaptiveHeight=true infinite=false swipeToSlide=true initialSlide=firstSlide edgeFriction=0.03 touchThreshold=2}}

    {{#each model.days as |day|}}
      <div class="day">
        {{image-widget}}
        <div class="darkGrayBar"><span class="title">{{ts "day" "DÍA"}} {{day.id}}:</span></div>


        <div class="darkGrayBar small spaceAtTop">
          {{#if day.messageTitle}}
            <span class="title">{{day.messageTitle}}:</span>
          {{else}}
            <span class="title">{{ts 'message-of-day' 'MENSAJE DE HOY'}}:</span>
          {{/if}}
        </div>

        <div class="greenBlock">
          {{{day.messageBody}}}
        </div>


        <div class="darkGrayBar small spaceAtTop"><span class="title">{{ts 'menu-of-day' 'Menú de hoy'}}:</span></div>

        <div class="dailyMenu">
          {{#each day.recipes as |recipe|}}
            <div class="media greenBlock chevronRight" {{action "viewRecipe" recipe.id}}>
              <div class="media-left recipe-thumbnail">
                {{#if recipe.images.firstObject}}
                  <img class="img-responsive media-object" src="data:{{recipe.images.firstObject.mimeType}};base64,{{recipe.images.firstObject.imageData}}">
                {{else}}
                  <img class="img-responsive media-object" src="assets/images/default.png" />
                {{/if}}
              </div>
              <div>
                <h5 class="title">{{{recipe.name}}}<br /><span class="smaller">{{ts recipe.mealType}}</span></h5>

                <div>{{{summary recipe.description 100}}}</div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    {{/each}}

  {{/slick-slider}}

</div>