{{image-widget images=model.images showDots=true}}
<div class="darkGrayBar">
  <div class="actions">
    {{favorite-widget model=model}}
    {{share-widget model=model}}
  </div>
  <span class="title">{{{model.name}}}</span>
</div>

{{#em-tabs configName="vka"}}
  {{#em-tab-list}}
    {{#em-tab}}{{ts 'description' 'Descripci贸n'}}{{/em-tab}}
    {{#em-tab}}{{ts 'ingredients' 'Ingredientes'}}{{/em-tab}}
    {{#em-tab}}{{ts 'instructions' 'Instrucciones'}}{{/em-tab}}
    {{#em-tab}}{{ts 'nutrition' 'Nutrici贸n'}}{{/em-tab}}
  {{/em-tab-list}}
  {{#em-tab-panel}}
    <div class="recipe-section">
      <h5 class="title">{{ts 'description' 'Descripci贸n'}}:</h5>
      {{{model.description}}}
    </div>
  {{/em-tab-panel}}
  {{#em-tab-panel}}
    <div class="recipe-section">
      <h5 class="title">{{ts 'ingredients' 'Ingredientes'}}:</h5>
      {{{model.ingredients}}}
    </div>
  {{/em-tab-panel}}
  {{#em-tab-panel}}
    <div class="recipe-section">
      <h5 class="title">{{ts 'instructions' 'Instrucciones'}}:</h5>
      {{{model.instructions}}}
    </div>
  {{/em-tab-panel}}
  {{#em-tab-panel}}
    <div class="recipe-section">
      <h5 class="title">{{ts 'nutrition' 'Nutrici贸n'}}:</h5>
      {{{model.nutrition}}}
    </div>
  {{/em-tab-panel}}
{{/em-tabs}}