<div id="searchOptions">
  <div {{action "showSearch"}} class="tab-style {{searchActive}}">
    <span class="glyphicon favorite glyphicon-search"></span>
    {{ts 'search' 'Buscar'}}
  </div>
  <div {{action "showFavorites"}} class="tab-style {{favoriteActive}}">
    <span class="glyphicon favorite glyphicon-star"></span>
    {{ts 'favorites' 'Favoritos'}}
  </div>
  {{#if searchActive}}
    <div class="searchBox">
      {{input type="text" value=queryString placeholder="Buscar..."}}
      <div class="sortOptions">
        <div {{action "sortByRelevance"}} class="tab-style {{relevanceActive}}">
          {{ts 'relevance' 'Pertinencia'}}
        </div>
        <div {{action "sortAlphabetical"}} class="tab-style {{alphabeticalActive}}">
          {{ts 'alphabetical' 'Alfabético'}}
        </div>
      </div>
    </div>
  {{/if}}
</div>



{{#if results}}
  <div class="searchResults">
    {{#each results as |recipe|}}
      <div class="media greenBlock chevronRight" {{action "gotoRecipe" recipe.id}}>
        <div class="media-left recipe-thumbnail">
          {{image-widget image=recipe.images.firstObject decoration=false}}
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{{recipe.name}}}</h4>
          {{{summary recipe.instructions 100}}}
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <div class="center no-results">
    - {{ts "no-results" "sin resultados"}} -
  </div>
{{/if}}