<div class="greenBar">
  <div class="triangle"></div>
</div>
<div class="clear"></div>


<div class="darkGrayBar"><span class="title">{{ts "login" "Login"}}</span></div>
<!--// Login info //-->
{{#if cognito.loggedIn}}
  <div class="loginForm">
    <div {{action "facebookLogout"}} class="clickable facebook-button">{{ts "logout-facebook" "Logout"}}</div>
  </div>
{{else}}
  <div class="loginForm">
    <div class="copy">
      {{{ts "login-benefits" "Logging in allows you track your progress and favorite recipes on more than one device"}}}
    </div>
    <div {{action "facebookLogin"}} class="clickable facebook-button">{{ts "login-facebook" "Entrar con Facebook"}}</div>
  </div>
{{/if}}
<div class="darkGrayBar"><span class="title">{{ts "settings" "Ajustes"}}</span></div>

<!--// Settings Form //-->
<div class="settingsForm">
  <div class="greenBlock">
    <span class="title">{{ts "today-is" "Hoy es"}}:</span>
    <select class="right" onchange={{action (mut today) value="target.value"}}>
      {{#each allDays as |day|}}
        <option value="{{day}}" selected={{eq today day}}>{{ts "day" "Día"}} {{day}}</option>
      {{/each}}
    </select>
    <div class="clear"></div>
  </div>
</div>