<span {{action "backAction"}} class="clickable nav-button glyphicon glyphicon-chevron-left back-button left {{backButtonClass}}"></span>
<span {{action "todayAction"}} class="clickable nav-button glyphicon glyphicon-home today-button left"></span>
<div class="title nav-title"><span class="title-text">{{ts "app-title" "VEGETARIANO EN 21 DÍAS"}}</span></div>
<span {{action "searchAction"}} class="clickable nav-button glyphicon glyphicon-search search-button right"></span>
<span {{action "settingsAction"}} class="clickable nav-button glyphicon glyphicon-cog settings-button right"></span>
<div class="clear"></div>